{% extends 'rbk/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{ user.first_name }}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
    <li class="d-grid"><a href="{% url 'adress' %}" class="btn {{ active }}">Address</a></li>
   </ul>
  </div>
        <div class="col-sm-9 offset-sm-1">
            <div class="row">
                {% for address in ad %}
                <div class="col-sm-6 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h3>Address {{ forloop.counter }}</h3>
                            <p>Name: {{ address.name }}</p>
                            <p>Locality: {{ address.locality }}</p>
                            <p>Zipcode: {{ address.zipcode }}</p>
                            <p>State: {{ address.state }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-12"><p>No address found.</p></div>
                {% endfor %}
            </div>
        </div>
 </div>
</div>
{% endblock main-content %}